body {
    font-family: "Helvetica", Sans Serif;
    background: #ccc;
}

#content {
    min-height: 600px;
}

footer {
    line-height: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

.indent {
    margin-left: 30px;
}

.page-header {
    text-align: center;
}

.clear {
    clear: both;
}

.no-padding {
    padding: 0;
}

.strong {
    font-weight: bold;
}

.pull-center {
    text-align: center;
}

.nobullet {
    list-style-type: none;
}

.half-left {
    width: 48%;
    float: left;
    margin-right: 0px 2%;
}

.half-right {
    width: 48%;
    float: right;
    margin: 0px 2%;
}

.toggle {
    cursor: ponter;
}

.toggler div {
    background-clip: padding-box;
    border: 5px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
    padding: 10px;
}