<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css" media="screen">
            .container {
                margin: 0 10%;
            }
            
            header, footer {
                background: #ccc;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>This is a header</h1>
            </header>
            <section>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget quam eu neque pharetra ornare ac eu lorem. Proin suscipit orci vel enim tincidunt vel tempor turpis commodo. Nunc quis nisi est. Nullam nec lorem eu justo semper fringilla vel vel magna. In vestibulum luctus nisl non consequat. Donec eros metus, placerat a adipiscing porttitor, lacinia in velit. Nulla magna nisl, vehicula quis posuere a, blandit id tortor. Vestibulum eleifend convallis condimentum. Mauris felis ligula, vestibulum posuere gravida ut, lobortis id dui. Fusce lobortis fermentum velit, ac auctor urna aliquet ut. Vestibulum mi lorem, dapibus vitae mollis eget, accumsan vitae nunc. Maecenas hendrerit leo ut enim tempor ullamcorper. Vestibulum ullamcorper purus ut mauris venenatis eget sagittis velit vehicula. Donec scelerisque, diam non auctor suscipit, tellus nisi egestas nibh, condimentum luctus nulla tellus eu ligula. 
                </p>
                <p>
                     Fusce viverra lacinia purus auctor convallis. Nunc sed nisl vel ante ultrices dignissim quis vel tellus. Nullam vel augue lacus, eu aliquet neque. Sed non urna ante. Cras felis nunc, dignissim et eleifend at, sagittis scelerisque quam. Fusce ac enim vel lorem pharetra ornare vel pharetra nibh. Ut congue, arcu sit amet commodo iaculis, tellus ante aliquet nisl, vitae pulvinar dui orci sit amet nunc. Aliquam ullamcorper convallis magna, a pharetra risus volutpat et. Nunc sit amet mauris id purus laoreet tempus. 
                </p>
            </section>
            <footer>
                <p>This is a footer</p>
            </footer>
        </div>
    </body>
</html>
